.env
.sass-cache/
.idea
.vagrant

/node_modules/
/public/hot
/public/css/
/public/storage/
/resources/views/vendor/
/routes/
/storage/*.key
/vendor/
adminer.php
Homestead.json
Homestead.yaml
npm-debug.log
yarn.lock