.log_line {
	font-size: x-large;
	margin: 3rem auto;
	text-align: center;

	.call_to_action {
		font-size: xx-large;
		margin: 1rem;
		color: #f61b82;
	}
}



.calendar {
	display: table;
	width: 100%;
	background-color: white;
	border: 1px solid #fafafa;
	border-width: 1px 0 0 1px;
	margin-bottom: 1rem;

	.week, .days-of-week {
		display: table-row;
	}

	.days-of-week {
		font-weight: 600;

		.day {
			height: 2rem;
		}
	}

	.week .day {
		height: 5rem;
	}

	.day {
		color: inherit;
		display: table-cell;
		line-height: 2rem;
		text-align: left;
		text-decoration: none;
		border: 1px solid #fafafa;
		border-width: 0 1px 1px 0;

		&.disabled{
			background-color: $theme-disabled;
			color: $font-disabled;
			cursor: not-allowed;
		}

		&.available:hover {
			background-color: $theme-accent;
			color: white;
			cursor: pointer;

			.fa-birthday-cake {
				color: white;
			}
		}

		.fa-birthday-cake {
			color: #FF3D7F;
		}
	}
}

@media (min-width: $medium-screen-width+1){
	.calendar {
		.day {
			width: 12.5%;
			padding: 0 0.5rem;

			.value {
				font-size: x-large;
				font-weight: bold;
				text-align: center;
			}

			&:first-child {
				text-align: right;
				font-weight: 600;
				padding-right: 1rem;
			}
		}
	}
}

@media (max-width: $medium-screen-width){
	.calendar {
		table-layout: fixed;

		.day {
			width: 14.285%;
			padding: 0;

			.value {
				font-size: x-large;
				font-weight: 600;
			}

			&:first-child {
				display: none;
			}
		}

		.not-mobile {
			display: none;
		}
	}
}