.calendar {
	display: table;
	width: 100%;
	background-color: white;

	.week, .days-of-week {
		display: table-row;
	}

	.days-of-week {
		font-weight: 600;

		.day {
			height: 2rem;
		}
	}

	.week .day {
		height: 5rem;
	}

	.day {
		color: inherit;
		display: table-cell;
		line-height: 2rem;
		padding: 0;
		text-align: left;
		text-decoration: none;

		&.disabled{
			background-color: $theme-disabled;
			color: $font-disabled;
			cursor: not-allowed;
		}

		&.available:hover {
			background-color: $theme-accent;
			color: white;
			cursor: pointer;

			.fa-birthday-cake {
				color: white;
			}
		}

		.fa-birthday-cake {
			color: #FF3D7F;
		}
	}
}

@media (min-width: $medium-screen-width+1){
	.calendar {
		.day {
			border-radius: 0.25rem;
			width: 12.5%;

			&:first-child {
				text-align: right;
				font-weight: 600;
				padding-right: 1rem;
			}
		}
	}
}

@media (max-width: $medium-screen-width){
	.calendar {
		table-layout: fixed;

		.day {
			width: 14.285%;

			&:first-child {
				display: none;
			}
		}

		.not-mobile {
			display: none;
		}
	}
}