.bid {
	$border-width: 4px;
	$height: 24px;
	display: inline-flex;
	flex-direction: row;
	padding-right: $border-width;

	background-color: $theme-dark;
	border-radius: ($height + (2 * $border-width)) / 2;
	height: $height + ($border-width*2);
	line-height: $height;
	border: $border-width solid $theme-dark;

	&.disabled {
		border-color: $font-disabled;
		background-color: $font-disabled;

		.fa {
			background-color: $font-disabled;
		}

		.email {
			color: $font-disabled;
		}
	}

	.fa {
		line-height: $height;
		width: $height;
		color: white;
		text-align: center;
		flex-grow: 0;
		margin-right: 2px;
	}

	.email {
		background-color: white;
		color: $theme-dark;
		border-radius: $height / 2;
		flex-grow: 1;
		text-align: center;
	}

	.value, .date {
		color: white;
		margin-left: .5rem;
	}
}

.bids {
	.bid {
		display: flex;
		width: 100%;
		margin-top: 2px;
	}
}