html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

html {
	 -webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	box-sizing: border-box;
}
*, *:before, *:after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

@media (max-width: $large-screen-width){
.wrapper {
	margin: 1rem 50px;
	width: auto;
}}

@media (min-width: $large-screen-width){
.wrapper {
	margin: 1rem auto;
	width: 1200px;
}}

@media (min-width: 950px){
.container h1 .right {
	position: absolute;
	right: 0;
	top: 0;
	text-align: right;
}}

.container {
	padding: 2rem 5rem;
	margin: 1rem auto;

	h1 {
		text-align: center;
		position: relative;

		&:after {
			height: 2px;
			width: 100%;
			display: block;
    		content: '';
		}
	}
}
